<!-- base.html -->

<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css" rel="stylesheet" type="text/css"/>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.png')}}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>

    <body class="d-flex flex-column h-100" onresize="onBodyResize()">

        <main role="main" class="flex-shrink-0">

            <!-- NAVIGATION-BAR -->
            <nav class="navbar navbar-expand bg-white navbar-dark sticky-top py-0">
                <a class="navbar-brand" href="/">
                    <img src="{{url_for('static', filename='artist8.png')}}" alt="Logo" style="height:150px;">
                </a>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-success" href="/"><i class="fas fa-2x fa-home mr-2"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-success" href="demo"><i class="fas fa-2x fa-file-alt mr-2"></i>Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-success" href="indicators"><i class="fas fa-2x fa-bookmark mr-2"></i>Indicators</a>
                    </li>
                </ul>

                <!-- LOGOS -->
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a href="https://ics.unisg.ch/" target="_blank">
                        <img src="{{url_for('static', filename='ICS-HSG_Logo_EN.png')}}"  alt="Logo" style="height:100px;">
                    </a>
                    </li>
                </ul>
                
            </nav>

            <!-- MAIN CONTENT -->
            <div id="maincontent" class="container-fluid mt-2 mb-2">
                <div class="row">

                    <!-- EDITOR -->
                    <div class="col-xl-4">
                        <div class="rounded border">
                            <div class="text-center m-3">
                                <h1 id="text-input">Text Input</h1> <!---Texteingabe--->
                                <div class="text-black-50" id="u-text-input">
                                    When you've written a few sentences, you can use the <i>Analyze</i> button to get feedback on the argumentation structure of your text.<br/> Click <b class='claimcolor'>Claims</b> or <b class='majorClaimcolor'>Major Claims</b> to view them in detailed view.
                                </div>

                            </div>
                            <div id="editor" class="p-2" contenteditable="true" spellcheck="true" onclick="onEditorClick()" onkeyup="updateWordCount()">
                                    {% block editor_content %}{% endblock %}
                            </div>

                            <div class="container-fluid text-center text-black-50 m-3">
                                <div class="row mt-3">
                                    <div class="col-md-7 justify-content-center">
                                        <!-- Dropdown Selector -->
                                        {% block samples %}{% endblock %}
                                    </div>
                                    <div class="col-md-5 justify-content-left">
                                        <span id="words-text"># Words: </span> <span id="wordcount">0</span>
                                    </div>
                                </div>

                                <!-- Third Row -->
                                <div class="row mt-3">
                                    <!-- Single Choice Selector -->
                                    <div class="col-md-7 justify-content-left">
                                    </div> 
                                    <div class="col-md-5 d-flex align-items-center justify-content-center">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <button id="editorsubmit" type="button" class="btn btn-success mb-2" onclick="analyze()" style="width: 130px; height: 70px;">
                                                <span id="editorspinner" class="spinner-border spinner-border-sm" style="display: none;" role="status" aria-hidden="true"></span>
                                                <span id="analyze-button">Analyze Argumentation</span>
                                            </button>
                                            <a href="#editor-explanation-modal" data-toggle="modal" data-target="#editor-explanation-modal" class="text-success" id="explain-analyze">Explanation</a>
                                        </div>
                                    </div>
                                </div> 

                                <!-- Second Row -->
                                <div class="row mt-3 justify-content-end">
                                    <div class="col-md-5">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <button id="editorsubmit-discourse" type="button" class="btn btn-success" onclick="discourse()" style="width: 130px; height: 70px;">
                                                <span id="editorspinner-discourse" class="spinner-border spinner-border-sm" style="display: none;" role="status" aria-hidden="true"></span>
                                                <span id="discourse-button">Analyze Discourse</span>
                                            </button>
                                            <a href="#discourse-explanation-modal" data-toggle="modal" data-target="#discourse-explanation-modal" class="text-success" id="explain-analyze">Explanation</a>
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- DASHBOARD -->
                    <div class="col-xl-8">
                        <div class="rounded border">
                            <div class="tabs">
                                <button class="tab-button" id="button_tab_argumentation_dashboard" onclick="openTab(event, 'tab_argumentation_dashboard')">Argumentation Dashboard</button>
                                <button class="tab-button" id="button_tab_discourse" onclick="openTab(event, 'tab_discourse')">Discourse Structure</button>
                                <button class="tab-button" id="button_tab_suggestions" onclick="openTab(event, 'tab_suggestions')">Improvement Suggestions</button>
                            </div>
                            <div id="tab_init" class="tab-content">
                                <i class="bi bi-arrow-left text-success"> {% block instructions_tabs_init %} {% endblock %} </i>
                            </div>
                            <div id="tab_argumentation_dashboard" class="tab-content">
                                <div class="container-fluid text-center mt-3">
                                    <h1 class="m-0" id="arg-dashboard">Your Personal Argumentation Dashboard</h1> 
                                    <span class="text-center text-black-50" id="u-arg-dashboard">
                                        Our algorithm found the following feedback (to learn how, click <a href="#algorithm-detail-modal" data-toggle="modal" data-target="#algorithm-detail-modal" class="text-success">here</a> )
                                    </span>
                                    

                                    <!-- DASHBORAD STATS -->
                                    <div class="row p-3">
                                        <div class="col-md-6 text-center">
                                            <!-- STRUCTURE-GRAPH -->
                                            <em id="argumentation-overview">Overview of your argumentation structure: </em>
                                            <div class="text-black-50" id="u-argumentation-overview">
                                                Click on <b class="claimcolor">Claims</b> or <b class='majorClaimcolor'>Major Claims</b> to see a detailed overview.
                                            </div>
                                        </div>

                                        <div class="col-md-6 text-center">
                                            <em id="argumentation-feedback">
                                                Feedback on your argumentation structure: 
                                            </em>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div id="structuregraph" class="container-fluid border"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- SCORES -->
                                            <canvas id="helpfulChart"></canvas>
                                            <canvas id="discourseChart"></canvas>
                                            <canvas id="unsupportedChart"></canvas>
                                            <canvas id="argumentativeChart"></canvas>

                                            <div id="grade-feedback" align="center" style="margin-top: 25px; margin-bottom: 25px">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row p-3">
                                        <div class="col-md text-center">
                                            <!-- DETAIL-GRAPH -->
                                            <em id="detailed-feedback">
                                                Detailed feedback on the structure of your claims.
                                                (<a href="#claim-premise-modal" data-toggle="modal" data-target="#claim-premise-modal" class="text-success">What are claims and premises?</a>)
                                            </em>
                        
                                            <div id="detailgraph" class="container-fluid border">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="tab_discourse" class="tab-content">
                                <div class="container text-center mt-3">
                                    <h1 class="m-0" id="text-discourse-header">Discourse Structure</h1>
                                    <span class="text-center text-black-50" class="text-black-50">
                                        To see how Discourse Structure can help you improve your text, click <a href="#discourse-feedback-explanation-modal" data-toggle="modal" data-target="#discourse-feedback-explanation-modal" class="text-success">here</a>.
                                    </span>
                                    
                                    <div class="row mt-2">
                                        <div class="col-md-7 text-center">
                                            <em id="text-discourse-structure-header" class="mt-2">Discourse Structure Feedback</em>
                                            <div class="text-black-50" id="u-text-discourse-header">
                                                Our algorithm found the following discourse labels for your text. To see what each label represents, please look into the label explanations.
                                            </div>
                                        </div>

                                        <div class="col-md-5 text-center">
                                            <em id="text-discourse-labels-header" class="mt-2">Discourse Labels Explanations</em>
                                            <div class="text-black-50" id="a-label-explanations">
                                                Bellow you can find the explanations for the discourse labels produced.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-7 text-center">
                                            <div id="discourse-feedback" class="container-fluid text-left rounded border" style="margin-top: 20px;">
                                            </div>
                                        </div>

                                        <div class="col-md-5 text-center">
                                            <div class="container-fluid text-left text-black-50 rounded border" id="label-explanations" style="margin-top: 20px;">
                                                <b class="elaborationColor">Elaboration:</b>
                                                Text that provides basic or additional information.
                                                <br>

                                                <b class="backgroundColor">Background:</b>
                                                Text whose understanding is being facilitated or is used for facilitating understanding.
                                                <br>

                                                <b class="preparationColor">Preparation:</b>
                                                Text that prepares the reader to expect and interpret the text that will be presented after the current.
                                                <br>

                                                <b class="contrastColor">Contrast:</b>
                                                Text that provides alternative(s) to what has been already stated.
                                                <br>

                                                <b class="attributionColor">Attribution:</b>
                                                Text that develops causal explanation for behaviours, events, etc.
                                                Can be offered in terms of situational factors, personal qualities or more.
                                                <br>

                                                <b class="enablementColor">Enablement:</b>
                                                Text providing information intended to aid the reader in performing an action.
                                                <br>

                                                <b class="explanationColor">Explanation:</b>
                                                Text providing an explanation to adjacent text (sentences or paragraph).
                                                <br>

                                                <b class="evaluationColor">Evaluation:</b>
                                                Text that provides a comment or evaluation on a situation.
                                                <br>

                                                <b class="temporalColor">Cause:</b>
                                                Text that contains tense - provides a temporal aspect to an explanation, situation, etc.
                                                <br>

                                                <b class="defaultColor">Default:</b>
                                                All labels highlighted by light gray color are under the default category. Those may include:
                                                <ul>
                                                    <li>Discourse labels that are considered immaterial for argumentative structure.</li>
                                                    <li>Labels like "Joint" or "same-unit". Those do not represent discourse. Instead, they
                                                    indicate the structural features of the discourse parse.</li>
                                                </ul>
                                                <br>

                                                <b>Additional resources for Discourse:</b>
                                                For additional information on the discourse parse labels and structure please visit
                                                <a href="https://www.sfu.ca/rst/01intro/intro.html" target="_blank">this resource</a>.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab_suggestions" class="tab-content">
                                <div class="container-fluid text-center m-3" id="llm-header">
                                    <h1 class="m-0">Argumentation improvement suggestions</h1>
                                    <span class="text-center text-black-50" id="llm-text">
                                        Large Language Models can provide you with suggestions on how your argumentative quality could be further improved.
                                        To receive such feedback, click one of the buttons bellow:
                                    </span>
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            <div class="row justify-content-center">
                                                <button id="llama-submit" type="button" class="btn btn-success" onclick="llama_process_response()" style="margin-top: 20px;">
                                                    <span id="llama-spinner" class="spinner-border spinner-border-sm" style="display: none;" role="status" aria-hidden="true"></span>
                                                    <span id="llama-button">Ask Model 1</span>
                                                </button>
                                            </div>
                                            
                                            <div class="container-fluid text-center" id="llama-response">
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="row justify-content-center">
                                                <button id="chat-GPT-submit" type="button" class="btn btn-success" onclick="chatGPT_process_response()" style="margin-top: 20px;">
                                                    <span id="chat-GPT-spinner" class="spinner-border spinner-border-sm" style="display: none;" role="status" aria-hidden="true"></span>
                                                    <span id="chat-GPT-button">Ask Model 2 </span>
                                                </button>
                                            </div>
                                            
                                            <div class="container-fluid text-center" id="chat-GPT-response">
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <!-- footer -->

        <footer class="footer mt-auto">
            <div class="container-fluid">
                <div id="argprogressclasses" class="row text-center" style="margin-left: inherit; margin-right: inherit;">
                </div>
            </div>
            <div class="container-fluid">
                <div class="progress" style="height:35px">
                    <div id="argprogress" class="progress-bar bg-success" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="container-fluid text-center text-black-50 p-2">
                <small>Copyright &copy; 2022 - Data Science and Natural Language Processing Group, University of St.Gallen</small>
            </div>
        </footer>    


        <!-- MODALS -->
        <div id="editor-explanation-modal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="explanation">Explanation Editor</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body" id="u-explanation">
                        The <b class='majorClaimcolor'>Major Claims</b> are found and displayed in orange. The <b class='claimcolor'>Claims</b> (statements) found are displayed in blue and may support major claims. <b class='premisecolor'>Premises</b> (e.g. examples, facts or explanations) that support the claims are marked in yellow. Click on the major claims marked in orange or claims marked in blue to see the structure of your argument in the dashboard on the right.
                        <br><br>
                        <i>Once clicking this button, the text is analyzed by machine learning algorithms to pinpoint argumentation and present it as feedback. As such, the "Analyze Argumentation" button may lead to longer waiting times given the complex algorithms running in the background.</i>
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="explanation-close">Close</button>
                    </div>
        
                </div>
            </div>
        </div>

        <div id="discourse-explanation-modal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="discourse-explanation">Discourse Analysis</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body" id="discourse-explanation-body">
                        Once clicking on "Analyze Discourse", your text is sent to a discourse parsing module. The results are presented as feedback on the screen under <strong>Text Discourse Structure</strong>.
                        <br><br>
                        Bellow this editor, you will find all discourse related feedback. On the left side under <strong>Discourse Structure Feedback</strong> you will find what component of discourse each one of <i>your</i> represent. On the right side under <strong>Discourse Labels Explanation</strong> you will find additional explanations on what each discourse label represents in your text.
                        <br><br>
                        <i>Once the discourse feedback is produced, please visit the left side of the discourse feedback area to see the labels in your text and then see the explanations on the right side. This may help you understand the discourse structure of your text and emphasize on sentences that could be omitted or improved as part of discourse.</i>
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="discourse-explanation-close">Close</button>
                    </div>
        
                </div>
            </div>
        </div>

        <div id="discourse-feedback-explanation-modal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="discourse-feedback-explanation">Discourse Structure Feedback</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body" id="discourse-feedback-explanation-body">
                        The goal of discourse parsing is to analyze and understand the structure and organization of a text in order to uncover the relationships and connections between sentences, clauses, or utterances. Discourse parsing aims to go beyond sentence-level analysis and focuses on capturing the higher-level discourse structure, including discourse relations, coherence, and overall meaning.
                        <br><br>
                        Discourse parsing involves identifying and classifying various discourse-level phenomena, such as discourse markers (e.g., "however," "therefore"), rhetorical relations (e.g., cause-effect, contrast), discourse entities (e.g., referring expressions), and discourse structure (e.g., hierarchical organization of arguments and sub-arguments).
                        <br><br>
                        The main objectives of discourse parsing include:
                        <br><br>
                        <ol type="I">
                            <li>Discourse segmentation: Identifying the boundaries of discourse units (e.g., paragraphs, sections, turns) to establish the basic units of analysis.</li>
                            <li>Coherence and cohesion analysis: Identifying and modeling the relationships between different discourse units to understand how they connect and contribute to the overall meaning and coherence of the discourse.</li>
                            <li>Rhetorical structure analysis: Identifying and classifying rhetorical relations between discourse units to capture the logical, semantic, or pragmatic connections between them.</li>
                        </ol>
                        <br>
                        Accordingly, discourse parsing provides valuable feedback for argumentation: Discourse parsing identifies and categorizes rhetorical relations between discourse units, supporting the improvement of argumentation, provision of suitable evidence, and the development of a more persuasive and cohesive writing style.
                        <br><br>
                        Thus, by offering insights into the organization, coherence, and clarity of the written text, discourse parsing assists in producing well-structured, coherent, and effective texts.
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="discourse-feedback-explanation-close">Close</button>
                    </div>
        
                </div>
            </div>
        </div>

        <div id="algorithm-detail-modal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="algorithm-details">Algorithm details</h4> 
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body" id="u-algorithm-details">
                        Our algorithm uses the latest Natural Language Processing (NLP) and Machine Learning (ML) methods to analyze the persuasiveness of your text. Claims, premises and their connections are analyzed with a trained model.
                        <br><br>
                        Process:
                        <br><br>
                        Artist receives the text input and passes it our system's backend. There, NLP is used to process the text into words and sentences, allowing us to extract a set of features. Those represent the content and context of sentences and selected words. The features are then fed into a 'Random Forest' Classifier, which predicts the label of each sentence in the text ['None', 'Premise', 'Claim', 'Major Claim']. The classifier is able to do so after being pre-trained on a large corpus of annotated texts (different for English and German). The predicted labels are finally processed by the server. This allows artist to produce the final feedback presented in the dashboard and the graphs that visualize the argumentation structure.
            
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="algorithm-details-close">Close</button> 
                    </div>
        
                </div>
            </div>
        </div>

        <div id="claim-premise-modal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="explanation-claims-premises">Explanation of Claims and Premises</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body" id="u-explanation-claims-premises">
                        An <b>argument</b> (<i>Latin argumentum, exposition, content, evidence, proof' from Latin arguere 'to indicate, assert, prove, show'</i>) is typically used to say something, to justify or convince someone. In linguistics and philosophy, an argument is understood to be a sequence of statements (<b>claims</b>) consisting of a conclusion and possibly several <b>premises</b>, where the conclusion is the statement that is supported by the Premises should be justified (one also says: supported). Colloquially, on the other hand, an argument is often understood solely as the premises that serve to justify the conclusion (the claim).
                        <br/>
                        <br/>

                        A <b>premise</b> (<i>lat. praemissa 'that which has been sent ahead'</i>) or antecedent is a prerequisite or assumption in logic. It is a statement from which a logical conclusion is drawn.
                        Example:
                        <br/>
                        From <i>'All men are mortal'</i> and <i>'All Greeks are men'</i> follows <i>'All Greeks are mortal'</i>. The first two statements are the premises, the last statement is the conclusion (claim).
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="explanation-c-p-close">Close</button> 
                    </div>
        
                </div>
            </div>
        </div>

        <!-- TEMPLATES -->

        <!-- Score bar chart -->
        <div id='scoreBarChartTemplate' style="display: none;">
            <div class="d-flex justify-content-between">
                <div name='description'>Test</div>
                <div>
                    <a name='details' href="#" data-toggle="modal" data-target="#" class="text-success">Details</a>
                </div>
            </div>
            <div class="progress">
                <div name='bar' class="progress-bar" style="width: 0%"></div>
            </div>
        
            <div name='modal' class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
        
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 name='modal-title' class="modal-title">Details</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
            
                        <!-- Modal body -->
                        <div name='modal-body' class="modal-body">
                            Modal body..
                        </div>
            
                        <!-- Modal footer -->
                        <div name='modal-footer' class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>

        <!-- add all necessary variables -->
        <script type="text/javascript">
            var editorUpdating = false;
            var editorDiscourseUpdating = false;
            var chatGPTResponseUpdating = false;
            var llamaResponseUpdating = false;
            var analysisResult = null;
            var chatGPT_response = null;
            var llama_response = null;
            var language = 'English'; //Default value in line with default selection values in radio button
            var classifier_selection = 'random_tree';
            var artist_URL = '{{ artist_url }}';
    
            var barCharts = {
            'helpful': { 'element': 'helpfulChart' },
            'discourse': { 'element': 'discourseChart' },
            'unsupported': { 'element': 'unsupportedChart' },
            'argumentative': { 'element': 'argumentativeChart' }
            }
    
            var structureGraph = null
            var detailGraph = null;
            var selectedClaim = null;
            var justSelectedClaim = false;
        </script>

        <!-- add all js modules -->
        <script src="{{url_for('static', filename='javascript/analysis.js')}}"></script>
        <script src="{{url_for('static', filename='javascript/feedback.js')}}"></script>
        <script src="{{url_for('static', filename='javascript/graph.js')}}"></script>
        <script src="{{url_for('static', filename='javascript/main.js')}}"></script>
        <script src="{{url_for('static', filename='javascript/navigation.js')}}"></script>
        <script src="{{url_for('static', filename='javascript/user_interaction.js')}}"></script>

        <script type="text/javascript">

            for (var k in barCharts) {
                barUpdate(k);
            }
            detailedGraphUpdate();
            structureGraphUpdate();
            updateWordCount();
      
      
            // ----- Changing the classifier selection ------
            function change_classifier(that) {
                classifier_selection = that.value;
            }
      
      
      
            {% block script %}{% endblock %}
            
      
        </script>
        
      
      
      
    </body>
</html>



