{% extends "base.html" %}

{% block editor_content %}
  Should students be taught to compete or to cooperate? It is always said that competition can effectively promote the development of economy. In order to survive in the competition, companies continue to improve their products and service, and as a result, the whole society prospers. However, when we discuss the issue of competition or cooperation, what we are concerned about is not the whole society, but the development of an individual's whole life. From this point of view, I firmly believe that we should attach more importance to cooperation during primary education. First of all, through cooperation, children can learn about interpersonal skills which are significant in the future life of all students. What we acquired from team work is not only how to achieve the same goal with others but more importantly, how to get along with others. During the process of cooperation, children can learn about how to listen to opinions of others, how to communicate with others, how to think comprehensively, and even how to compromise with other team members when conflicts occurred. All of these skills help them to get on well with other people and will benefit them for the whole life. 
{% endblock %}

{% block samples %}
  <span>
    Samples:
  </span>
  <select name="Text" id="Text-selection">
    <option value="Text1">Example 1</option>
    <option value="Text2">Example 2</option>
    <option value="Text3">Example 3</option>
  </select>

{% endblock %}

{% block instructions_tabs_init %} 
  Select a sample on the left side and then start an analyzis by clicking on one of the Analyze buttons bellow.
{% endblock %}

{% block script %}
const text_selection = document.getElementById('Text-selection');

text_selection.addEventListener('change', (e) => {
    str = e.target.value
    index = parseInt(str.slice(-1)) - 1
    document.getElementById('editor').innerHTML = DE_EN_texts(language, index);
});

function DE_EN_texts(lan, index) {
  return sample_text_dict['English'][index]
}
{% endblock %}