<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css" rel="stylesheet" type="text/css"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.png')}}" />
  </head>

  <body class="d-flex flex-column h-100" onresize="onBodyResize()">

    <main role="main" class="flex-shrink-0">

      <!-- NAVIGATION-BAR -->
      <nav class="navbar navbar-expand bg-white navbar-dark sticky-top py-0">
        <a class="navbar-brand" href="/" onclick="go_to_write()">
          <img src="{{url_for('static', filename='artist8.png')}}" alt="Logo" style="height:150px;">
        </a>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-success" href="/" onclick="go_to_write()"><i class="fas fa-2x fa-home mr-2"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-success" href="demo" onclick="go_to_demo()"><i class="fas fa-2x fa-file-alt mr-2"></i>Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-success" href="indicators"><i class="fas fa-2x fa-bookmark mr-2"></i>Indicators/Indicatoren</a>
          </li>
        </ul>

        <!-- LOGOS -->
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="https://ics.unisg.ch/" target="_blank">
              <img src="{{url_for('static', filename='ICS-HSG_Logo_EN.png')}}"  alt="Logo" style="height:100px;">
            </a>
          </li>
        </ul>
       
      </nav>


      <!-- MAIN CONTENT -->

      <div id="maincontent" class="container-fluid mt-2 mb-2">

        <div class="rounded border">
          <div class="text-center m-3">
            <b>English:</b>
            <i>On this page, two exhaustive lists are given. Those contain all the type indicators and argumentative discourse markers that Artist uses in order to better understand and mine argumentation in text. Those lists are provided in the hope that, by making them explicit, the users of Artist may be helped in both using the system better and improve their argumentation.</i>
          </div>
          <div class="text-center m-3">
            <b>Deutsch:</b>
            <i>Auf dieser Seite finden Sie zwei ausführliche Listen. Sie enthalten alle Typen-Indikatoren und argumentativen Diskursmarker, die Artist verwendet, um Argumentation in Texten besser zu verstehen und zu analysieren. Diese Listen werden zur Verfügung gestellt, damit sie den Nutzerinnen und Nutzern von Artist dabei helfen, das System besser zu nutzen und ihre Argumentation zu verbessern.</i>
          </div>
        </div>

      <table class="tg">
        <thead>
          <tr>
            <th class="tg-c3ow" colspan="2">English Type Indicators</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-c3ow">Thesis indicators</td>
            <td class="tg-c3ow">"all in all", "all things considered", "as far as I am concerned", "based on some reasons", "by analyzing both the views", "considering both the previous fact", "finally", "for the reasons mentioned above", "from explanation above", "from this point of view", "i agree that", "i agree with", "i agree with the statement that", "i believe", "i believe that", "i do not agree with this statement", "i firmly believe that", "i highly advocate that", "i highly recommend", "i strongly believe that", "i think that", "i think the view is", "i totally agree", "i totally agree to this opinion", "i would have to argue that", "i would reaffirm my position that", "in conclusion", "in my opinion", "in my personal point of view", "in my point of view", "in my point of view", "in summary", "in the light of the facts outlined above", "it can be said that", "it is clear that", "it seems to me that", "my deep conviction", "my sentiments", "overall", "personally", "the above explanations and example shows that", "this, however", "to conclude", "to my way of thinking", "to sum up", "ultimately"</td>
          </tr>
          <tr>
            <td class="tg-c3ow">Rebuttal indicators</td>
            <td class="tg-c3ow">"admittedly", "although", "besides these advantages", "but", "even though", "however", "otherwise"</td>
          </tr>
          <tr>
            <td class="tg-c3ow">Backward context indicators</td>
            <td class="tg-c3ow">"additionally", "as a matter of fact", "because", "besides", "due to", "finally", "first of all", "firstly", "for example", "for example", "for instance", "for instance", "furthermore", "has proved it", "in addition", "in addition to this", "in the first place", "is due to the fact that", "it should also be noted", "moreover", "on one hand", "on the one hand", "on the other hand", "one of the main reasons", "secondly", "similarly", "since", "so", "the reason", "to begin with", "to offer an instance", "what is more"</td>
          </tr>
          <tr>
            <td class="tg-c3ow">Forward context indicators</td>
            <td class="tg-c3ow">"as a result", "as the consequence", "because", "clearly", "consequently", "considering this subject", "furthermore", "hence", "leading to the consequence", "so", "taking account on this fact", "that is the reason why", "the reason is that", "therefore", "this means that", "this shows that", "this will result", "thus", "thus, it is clearly seen that", "thus, it is seen", "thus, the example shows"</td>              </tr>
        </tbody>
        </table>

        <table class="tg" style="width:100%">
        <thead>
          <tr>
            <th class="tg-c3ow" colspan="2">English Argumentative Discourse Markers</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-c3ow">Causal markers</td>
            <td class="tg-c3ow">"since", "because", "as"</td>
          </tr>
          <tr>
            <td class="tg-c3ow">Consecutive markers</td>
            <td class="tg-c3ow">"thus", "thereby", "therefore"</td>
          </tr>
          <tr>
            <td class="tg-c3ow">Adversative markers</td>
            <td class="tg-c3ow">"instead of", "otherwise", "on the other hand", "on the one hand", "however", "but", "rather", "in turn"</td>
          </tr>
          <tr>
            <td class="tg-c3ow">Concessive markers</td>
            <td class="tg-c3ow">"however", "nevertheless" "although", "even though", "whereby", "though"</td>
          </tr>
          <tr>
            <td class="tg-c3ow">Conditional markers</td>
            <td class="tg-c3ow">"if", "whether", "provided", "when"</td>
          </tr>
        </tbody>
        </table>

        <table class="tg">
        <thead>
          <tr>
            <th class="tg-c3ow" colspan="2">Deutsche Typ Indicatoren</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-c3ow">Thesenindikatoren</td>
            <td class="tg-c3ow">
                "alles in allem", "soweit ich betroffen bin", "auf der Grundlage einiger Gründe", "durch die Analyse beider Ansichten", "unter Berücksichtigung beider vorheriger Fakten", "schliesslich", "aus den oben genannten Gründen", "aus obiger Erklärung", "von diesem Standpunkt aus", "ich stimme zu, dass", "ich stimme zu", "ich stimme der Aussage zu, dass", "ich glaube", "ich glaube, dass", "ich stimme dieser Aussage nicht zu", "ich bin der festen Überzeugung, dass", "ich befürworte das sehr", "ich empfehle sehr", "ich bin der festen Überzeugung, dass", "ich denke, dass", "ich denke, die Ansicht ist", "ich stimme voll und ganz zu", "ich stimme dieser Meinung voll und ganz zu", "ich würde das bestreiten", "ich würde meinen Standpunkt bekräftigen, dass", "abschliessend", "meiner Meinung nach", "aus meiner persönlichen Sicht", "aus meiner Sicht", "in der Zusammenfassung", "in Anbetracht der oben dargelegten Fakten", "es kann gesagt werden, dass", "es ist klar, dass", "es scheint mir, dass", "meine tiefe Überzeugung", "meine Empfindungen", "insgesamt", "persönlich", "die obigen Ausführungen und Beispiele zeigen, dass", "dies jedoch", "zu schliessen", "nach meiner Auffassung", "zusammenfassen", "letztlich"
            </td>
          </tr>
          <tr>
            <td class="tg-c3ow">Konzessive Indikatoren</td>
            <td class="tg-c3ow">
                "zwar", "obwohl", "neben diesen Vorteilen", "aber", "jedoch", "sonst"
            </td>
          </tr>
          <tr>
            <td class="tg-c3ow">Rückverweisende Indikatoren</td>
            <td class="tg-c3ow">
                "zusätzlich", "in der Tat", "weil", "aufgrund", "schliesslich", "zunächst", "erstens", "zum Beispiel", "zum Beispiel", "zum Beispiel", "zum Beispiel", "hat es bewiesen", "darüber hinaus", "in erster Linie", "ist darauf zurückzuführen, dass", "es ist auch zu beachten", "zum einen","zum einen", "zum anderen", "einer der Hauptgründe", "zweitens", "ebenfalls", "da", "so", "der Grund", "zunächst", "ein Beispiel geben", "ausserdem"
            </td>
          </tr>
          <tr>
            <td class="tg-c3ow">Vorausweisende Indikatoren</td>
            <td class="tg-c3ow">
                "als Ergebnis", "als Folge", "weil", "eindeutig", "folglich", "in Anbetracht dieses Sachverhalts", "daher", "zur Folge", "so", "in Anbetracht dieser Tatsache", "das ist der Grund dafür", "der Grund ist, dass", "deshalb", "dies bedeutet, dass", "dies zeigt, dass", "dies wird zur Folge haben", "also", "also, es ist deutlich zu sehen, dass", "so sieht man es", "so zeigt das Beispiel"
            </td>
          </tr>
        </tbody>
        </table>

        <table class="tg" style="width:100%">
        <thead>
          <tr>
            <th class="tg-c3ow" colspan="2">Deutschsprachige argumentative Diskursmarker</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-c3ow">Kausale Marker</td>
            <td class="tg-c3ow">
                "da", "denn", "weil"
            </td>
          </tr>
          <tr>
            <td class="tg-c3ow">Folge-Marker</td>
            <td class="tg-c3ow">
                "also", "dadurch, "daher", "darum", "deshalb", "deswegen", "drum"
            </td>
          </tr>
          <tr>
            <td class="tg-c3ow">Adversative Marker</td>
            <td class="tg-c3ow">
                "anstatt", "anderenfalls", "andererseits", "einerseits", "hingegen", "jedoch", "sondern", "statt", "stattdessen", "vielmehr", "wiederum", "zum einen", "zum anderen"
            </td>
          </tr>
          <tr>
            <td class="tg-c3ow">Konzessive Marker</td>
            <td class="tg-c3ow">
                "allerdings", "dennoch", "gleichwohl", "nichtsdestotrotz", "nichtsdestoweniger", "obschon", "obwohl", "trotzdem", "wenngleich", "wobei", "zwar"
            </td>
          </tr>
          <tr>
            <td class="tg-c3ow">Konditionalmarker</td>
            <td class="tg-c3ow">
                "falls", "ob", "sofern", "wenn"
            </td>
          </tr>
        </tbody>
        </table>

      </div>
    </main>



    <!-- footer -->

    <footer class="footer mt-auto">
      <div class="container-fluid">
        <div id="argprogressclasses" class="row text-center" style="margin-left: inherit; margin-right: inherit;">
        </div>
      </div>
      <div class="container-fluid">
        <div class="progress" style="height:35px">
          <div id="argprogress" class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:100%"></div>
        </div>
      </div>
      <div class="container-fluid text-center text-black-50 p-2">
       <small>Copyright &copy; 2024 - Data Science and Natural Language Processing Group, University of St.Gallen</small>
      </div>
    </footer>
    <script type="text/javascript">
      var artist_URL = '{{ artist_url }}';

      function go_to_write() {
        $.ajax({
          type: "GET",
          url: artist_URL,
          data: "",
          dataType: "json",
          contentType : "application/json"
        })
      }

      function go_to_demo() {
        $.ajax({
          type: "GET",
          url: artist_URL.concat("demo"),
          data: "",
          dataType: "json",
          contentType : "application/json"
        })
      }

    </script>



  </body>
</html>

