body {
    font-size: 18px; // this is not the "correct" bootstrap way, you should overwrite the bootstrap variables instead
}
h1 {
    font-size: 22px;
    font-weight: bold;
}
#maincontent {
}
#editor {
    overflow-y: scroll;
    height: 414px;
    border-top-style: outset;
    border-bottom-style: inset;
    font-size: 16px;
}
.premisecolor {
    background-color: gold;
}
.claimcolor {
    background-color: lightblue;
}
.majorClaimcolor {
    background-color: orange;
}
.premise {
    background-color: gold;
    padding: 3px;
}
.claim {
    background-color: lightblue;
    padding: 3px;
}
.majorClaim {
    background-color: orange;
    padding: 3px;
}
.highlightedclass {
    border-style: outset;
}
#detailgraph {
    height: 290px;
}
#structuregraph {
    height: 290px;
}

#label-explanations {
    height: 350px;
    resize: none;
    overflow-y: scroll;
}

#discourse-feedback {
    height: 350px;
    overflow-y: scroll;
}

.label {
    font-weight: bold;
}

.elaborationColor {
    background-color: #F1E5AC;
}

.backgroundColor {
    background-color: aqua;
}

.preparationColor {
    background-color: burlywood;
}

.contrastColor {
    background-color: deeppink;
}

.attributionColor {
    background-color: greenyellow;
}

.enablementColor {
    background-color: lightcyan;
}

.explanationColor {
    background-color: darkseagreen;
}

.evaluationColor {
    background-color: lightpink;
}

.temporalColor {
    background-color: yellow;
}

.defaultColor {
    background-color: lightgray;
}

.piechart {
    margin: 0 auto;
}
#claim-premise-modal .modal-dialog {
    max-width: 800px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.progress-bar-grad-100 {
    background: linear-gradient(to right, #6EFF33 0%, #00AB00 100%);
}

.progress-bar-grad-80 {
    background: linear-gradient(to right, #F1E5AC 0%, #FFD700 100%);
}

.progress-bar-grad-40 {
    background: linear-gradient(to right, #FFD580 0%, #FFA500 100%);
}

.i-circle-100 {
    background: #00AB00;
    color: #fff;
    padding: 20px 30px;
    border-radius: 50%;
    font-size: 30px;
}

.i-circle-80 {
    background: #FFD700;
    color: #fff;
    padding: 20px 30px;
    border-radius: 50%;
    font-size: 30px;
}

.i-circle-40 {
    background: #FFA500;
    color: #fff;
    padding: 20px 30px;
    border-radius: 50%;
    font-size: 30px;
}

/* DEMO */
#label-explanations {
    height: 350px;
    resize: none;
    overflow-y: scroll;
}

#discourse-feedback {
    height: 350px;
    overflow-y: scroll;
}

.label {
    font-weight: bold;
}

.elaborationColor {
    background-color: #F1E5AC;
}

.backgroundColor {
    background-color: aqua;
}

.preparationColor {
    background-color: burlywood;
}

.contrastColor {
    background-color: deeppink;
}

.attributionColor {
    background-color: greenyellow;
}

.enablementColor {
    background-color: lightcyan;
}

.explanationColor {
    background-color: darkseagreen;
}

.evaluationColor {
    background-color: lightpink;
}

.temporalColor {
    background-color: yellow;
}

.defaultColor {
    background-color: lightgray;
}


/* indicators_index */
.tg {
    border-collapse:collapse;
    border-color:#ccc;
    border-spacing:0;
}

.tg td {
    background-color:#fff;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;color:#333;
    font-family:Arial, sans-serif;
    font-size:18px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th {
    background-color:#f0f0f0;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;color:#333;
    font-family:Arial, sans-serif;
    font-size:18px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg-c3ow {
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: left;
    margin-top: 0px;
}

.tab-button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
    border-radius: 5px;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

.tab-button.active {
    background-color: white;
}

button:focus {
    outline:0;
}

.text-black-50 {
    font-size: 15;
}